################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Infrastructure/ECommex.Infrastructure/obj
/src/Modules/Core/ECommex.Modules.Core/obj
/src/Modules/Core/ECommex.Modules.Core/bin/Debug/net5.0/ECommex.Modules.Core.pdb
src/Infrastructure/ECommex.Infrastructure/bin/Debug/net5.0/ECommex.Infrastructure.dll
src/Infrastructure/ECommex.Infrastructure/bin/Debug/net5.0/ECommex.Infrastructure.pdb
src/Infrastructure/ECommex.Infrastructure/bin/Debug/net5.0/ref/ECommex.Infrastructure.dll
src/Modules/Core/ECommex.Modules.Core/bin/Debug/net5.0/ECommex.Modules.Core.dll
src/Modules/Core/ECommex.Modules.Core/bin/Debug/net5.0/ref/ECommex.Modules.Core.dll
src/Infrastructure/ECommex.Infrastructure/bin/Debug/net5.0/ECommex.Infrastructure.deps.json
src/Modules/Core/ECommex.Modules.Core/bin/Debug/net5.0/ECommex.Modules.Core.deps.json
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ECommerx.Infrastructure.Tests.deps.json
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ECommerx.Infrastructure.Tests.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ECommerx.Infrastructure.Tests.pdb
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ECommerx.Infrastructure.Tests.runtimeconfig.dev.json
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ECommerx.Infrastructure.Tests.runtimeconfig.json
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ECommex.Infrastructure.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ECommex.Infrastructure.pdb
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/Newtonsoft.Json.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/NuGet.Frameworks.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/testhost.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/testhost.exe
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/xunit.abstractions.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/xunit.assert.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/xunit.core.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/xunit.execution.dotnet.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/xunit.runner.reporters.netcoreapp10.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/xunit.runner.utility.netcoreapp10.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ref/ECommerx.Infrastructure.Tests.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Infrastructure.Tests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Infrastructure.Tests/obj/Debug/net5.0/ECommerx.Infrastructure.Tests.dll
test/ECommerx.Infrastructure.Tests/obj/Debug/net5.0/ECommerx.Infrastructure.Tests.pdb
test/ECommerx.Infrastructure.Tests/obj/Debug/net5.0/ref/ECommerx.Infrastructure.Tests.dll
test/ECommerx.Infrastructure.Tests/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
test/ECommerx.Infrastructure.Tests/obj/Release/net5.0/ECommerx.Infrastructure.Tests.AssemblyInfo.cs
test/ECommerx.Infrastructure.Tests/obj/Release/net5.0/ECommerx.Infrastructure.Tests.AssemblyInfoInputs.cache
test/ECommerx.Infrastructure.Tests/obj/Release/net5.0/ECommerx.Infrastructure.Tests.assets.cache
test/ECommerx.Infrastructure.Tests/obj/Release/net5.0/ECommerx.Infrastructure.Tests.csproj.AssemblyReference.cache
test/ECommerx.Infrastructure.Tests/obj/Release/net5.0/ECommerx.Infrastructure.Tests.GeneratedMSBuildEditorConfig.editorconfig
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ECommerx.Modules.Core.Tests.deps.json
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ECommerx.Modules.Core.Tests.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ECommerx.Modules.Core.Tests.pdb
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ECommerx.Modules.Core.Tests.runtimeconfig.dev.json
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ECommerx.Modules.Core.Tests.runtimeconfig.json
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ECommex.Modules.Core.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ECommex.Modules.Core.pdb
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/testhost.exe
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/testhost.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/NuGet.Frameworks.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/Newtonsoft.Json.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/xunit.runner.utility.netcoreapp10.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/xunit.runner.reporters.netcoreapp10.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/xunit.core.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/xunit.execution.dotnet.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/xunit.assert.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/xunit.abstractions.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ref/ECommerx.Modules.Core.Tests.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/ECommerx.Modules.Core.Tests/obj/Debug/net5.0/ECommerx.Modules.Core.Tests.pdb
test/ECommerx.Modules.Core.Tests/obj/Debug/net5.0/ECommerx.Modules.Core.Tests.dll
test/ECommerx.Modules.Core.Tests/obj/Debug/net5.0/ref/ECommerx.Modules.Core.Tests.dll
test/ECommerx.Infrastructure.Tests/obj/ECommerx.Infrastructure.Tests.csproj.nuget.dgspec.json
test/ECommerx.Infrastructure.Tests/obj/ECommerx.Infrastructure.Tests.csproj.nuget.g.props
test/ECommerx.Infrastructure.Tests/obj/ECommerx.Infrastructure.Tests.csproj.nuget.g.targets
test/ECommerx.Infrastructure.Tests/obj/project.assets.json
test/ECommerx.Infrastructure.Tests/obj/project.nuget.cache
test/ECommerx.Infrastructure.Tests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
test/ECommerx.Infrastructure.Tests/obj/Debug/net5.0/ECommerx.Infrastructure.Tests.AssemblyInfo.cs
test/ECommerx.Infrastructure.Tests/obj/Debug/net5.0/ECommerx.Infrastructure.Tests.AssemblyInfoInputs.cache
test/ECommerx.Infrastructure.Tests/obj/Debug/net5.0/ECommerx.Infrastructure.Tests.assets.cache
test/ECommerx.Infrastructure.Tests/obj/Debug/net5.0/ECommerx.Infrastructure.Tests.csproj.AssemblyReference.cache
test/ECommerx.Infrastructure.Tests/obj/Debug/net5.0/ECommerx.Infrastructure.Tests.csproj.CopyComplete
test/ECommerx.Infrastructure.Tests/obj/Debug/net5.0/ECommerx.Infrastructure.Tests.csproj.CoreCompileInputs.cache
test/ECommerx.Infrastructure.Tests/obj/Debug/net5.0/ECommerx.Infrastructure.Tests.csproj.FileListAbsolute.txt
test/ECommerx.Infrastructure.Tests/obj/Debug/net5.0/ECommerx.Infrastructure.Tests.GeneratedMSBuildEditorConfig.editorconfig
test/ECommerx.Infrastructure.Tests/obj/Debug/net5.0/ECommerx.Infrastructure.Tests.genruntimeconfig.cache
test/ECommerx.Modules.Core.Tests/bin/Debug/net5.0/CoverletSourceRootsMapping
test/ECommerx.Modules.Core.Tests/bin/Release/net5.0/CoverletSourceRootsMapping
test/ECommerx.Modules.Core.Tests/obj/ECommerx.Modules.Core.Tests.csproj.nuget.dgspec.json
test/ECommerx.Modules.Core.Tests/obj/ECommerx.Modules.Core.Tests.csproj.nuget.g.props
test/ECommerx.Modules.Core.Tests/obj/ECommerx.Modules.Core.Tests.csproj.nuget.g.targets
test/ECommerx.Modules.Core.Tests/obj/project.assets.json
test/ECommerx.Modules.Core.Tests/obj/project.nuget.cache
test/ECommerx.Modules.Core.Tests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
test/ECommerx.Modules.Core.Tests/obj/Debug/net5.0/ECommerx.Modules.Core.Tests.AssemblyInfo.cs
test/ECommerx.Modules.Core.Tests/obj/Debug/net5.0/ECommerx.Modules.Core.Tests.AssemblyInfoInputs.cache
test/ECommerx.Modules.Core.Tests/obj/Debug/net5.0/ECommerx.Modules.Core.Tests.assets.cache
test/ECommerx.Modules.Core.Tests/obj/Debug/net5.0/ECommerx.Modules.Core.Tests.csproj.AssemblyReference.cache
test/ECommerx.Modules.Core.Tests/obj/Debug/net5.0/ECommerx.Modules.Core.Tests.csproj.CopyComplete
test/ECommerx.Modules.Core.Tests/obj/Debug/net5.0/ECommerx.Modules.Core.Tests.csproj.CoreCompileInputs.cache
test/ECommerx.Modules.Core.Tests/obj/Debug/net5.0/ECommerx.Modules.Core.Tests.csproj.FileListAbsolute.txt
test/ECommerx.Modules.Core.Tests/obj/Debug/net5.0/ECommerx.Modules.Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
test/ECommerx.Modules.Core.Tests/obj/Debug/net5.0/ECommerx.Modules.Core.Tests.genruntimeconfig.cache
test/ECommerx.Modules.Core.Tests/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
test/ECommerx.Modules.Core.Tests/obj/Release/net5.0/ECommerx.Modules.Core.Tests.AssemblyInfo.cs
test/ECommerx.Modules.Core.Tests/obj/Release/net5.0/ECommerx.Modules.Core.Tests.AssemblyInfoInputs.cache
test/ECommerx.Modules.Core.Tests/obj/Release/net5.0/ECommerx.Modules.Core.Tests.assets.cache
test/ECommerx.Modules.Core.Tests/obj/Release/net5.0/ECommerx.Modules.Core.Tests.csproj.AssemblyReference.cache
test/ECommerx.Modules.Core.Tests/obj/Release/net5.0/ECommerx.Modules.Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
